html {
  font-size: 18px;
  font-family: Helvetica;
}

.header-container {
  height: 2.5rem;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.header {
  background-color: Black;
  color: White;
}

.header img {
  height: 1.5rem;
  padding: 0rem 1rem 0rem .5rem;
}

.main-banner {
  background-image: url('../images/moto.jpeg');
  background-size: cover;
  background-position: center;
  height: 25rem;
}

.headline {
  background-color: Black;
  color: White;
  width: 20rem;
  padding: 2rem 3rem;
  position: relative;
  top: 9rem;
  font-weight: bold;
}

.headline-container {
  margin: 0 auto;
  max-width: 960px;
}

.headline h3 {
  font-size: 1rem;
  padding-bottom: .25rem;

}

.headline h2 {
  font-size: 2rem;
}

nav {
  background-color: firebrick;
  color: White;
}

.nav-container {
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.nav-container ul {
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.narrow-nav-container {
  display: none;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 3rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.grid {
  background-color: none;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.product1  {
  width: 30%;
  border: 4px solid Black;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.product-text1 {
  border-left: 4px solid Black;
  border-right: 4px solid Black;
  background-color: Black;
  color: White;
  width: 30%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 3rem;
}

.product1 img {
  max-height: 9rem;
  max-width: 9rem;
  padding: 2rem 0rem;
}

.product2  {
  width: 30%;
  border: 4px solid Black;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.product-text2 {
  border-left: 4px solid Black;
  border-right: 4px solid Black;
  background-color: Black;
  color: White;
  width: 30%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 3rem;
}

.product2 img {
  max-height: 9rem;
  max-width: 9rem;
  padding: 2rem 0rem;
}

.product3  {
  width: 30%;
  border: 4px solid Black;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.product-text3 {
  border-left: 4px solid Black;
  border-right: 4px solid Black;
  background-color: Black;
  color: White;
  width: 30%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: flex-end;
  margin-bottom: 3rem;
}

.product3 img {
  max-height: 9rem;
  max-width: 9rem;
  padding: 2rem 0rem;
}

.location {
  width: 35%;
}

.location h3 {
  background-color: Black;
  color: White;
  height: 3rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.location h2 {
  margin-bottom: 4rem;
}

.hours {
  width: 35%;
}

.hours h3 {
  background-color: Black;
  color: White;
  height: 3rem;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.hours h2 {
  margin-bottom: 4rem;
}

.footer {
  background-color: Black;
  color: White;
}

.footer-container {
  height: 5rem;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 1024px) {
  .product3, .product-text3 {
    display: none;
    width: 0%;
  }
  .product1, .product2, .product-text1, .product-text2 {
    width: 47%;
  }

  .nav-container {
    display: none;
  }
  .narrow-nav-container {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .product2, .product-text2 {
    display: none;
    width: 0%;
  }
  .product1, .product-text1 {
    width: 90%;
  }
  .grid-container {
    justify-content: center;
    align-content: flex-start;
    flex-flow: column wrap;
  }
  .location, .hours {
    width: 90%;
  }
  .location h2 {
    margin-bottom: .5rem;
  }
  .headline {
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }
  .headline h3 {
    font-size: .77rem;
  }
  .headline h2 {
    font-size: 1rem;
  }
  .main-banner {
    height: 15rem;
  }
  .footer-container {
    justify-content: center;
  }
}
